*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
}
header{
    background-color: #0f0f0f;
    margin-bottom: 3vh;
}
#logo{
    height: 10vh;
}
#contenido{
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}  
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #dfdfdf 0 0 11px;
    justify-content: center;
    text-align: center;
    width: 28%; 
    font-size: 120%;  
}
label {
    margin-bottom: 2%;
}
input,select{
    padding: 2% 1%;
    border: solid 2px #0f0f0f;
    background-color: #f9f9f9;
    border-radius: 3px;
}
.formulario{
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 80%;
}
button{
    padding: 4%;
    background-color: #0f0f0f;
    border: solid 2px #0f0f0f;
    color: #F7F7FF;
    font-weight: 800;
    margin: 1% 0 4% 0; 
    transition: 0.2s;
}
button:hover {
    background-color: #F7F7FF;
    color: #0f0f0f;
    transition: 0.2s;
}
.map{
    width: 60%;
    height: 75vh;
}